:root {
  --primary-color: #fdfdfd;
  --primary-color-variant: #f7f7f7;
  --secondary-color: #121212;
  --secondary-color-variant: #555;
  --accent-color: #d10;
  --accent-color-variant: #e50;

  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
}